*.ncb
*.suo
*.user
.deps
.time-stamp
AddinCSharp/bin/
AddinCpp/lib/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build
config.hpp
config.hpp.in
config.log
config.status
config/
configure
lib
libtool
qlo/objects/*.old
qlo/serialization/*.old
qlo/serialization/create/*.old
qlo/serialization/register/*.old
qlo/valueobjects/*.old
stamp-h1
